# =========================================================
# JAVA / MAVEN
# =========================================================

target/
*.class
*.log

# =========================================================
# IDE
# =========================================================

.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# SPRING / SECRETS
# =========================================================

.env
application-local.yml
application-prod.yml
application-*.properties

# =========================================================
# SECURITY
# =========================================================

*.pem
*.key
*.p12
*.jks

# =========================================================
# FLUTTER
# =========================================================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# =========================================================
# ANDROID
# =========================================================

android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# =========================================================
# IOS
# =========================================================

ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# =========================================================
# TEST / COVERAGE
# =========================================================

coverage/

# =========================================================
# LOCAL FILES
# =========================================================

tmp/